* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

body {
    font-family: "Open Sans" , sans-serif;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

.courses .container {
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}

.courses .box {
    background-color: white;
    margin: 0 10px;
    position: relative;
    border-radius: 5px;
}

.courses .box img:first-child {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.courses .box img:nth-child(2) {
    position: absolute;
    max-width: 55px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    border: 2px solid white;
}

.courses .box .text {
    padding: 10px;
}

.courses .box .text h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.courses .container .box .text p {
    color: var(--grey-color);
    line-height: 1.5;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.courses .container .box .text span {
    background-color: var(--blue-color);
    padding: 4px 10px;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    margin-bottom: 10px;
}

.courses .container .box .icon span {
    color: var(--grey-color);
    font-size: 14px;
    margin: 5px 10px;
}

@media (max-width:767px) {
    .courses .container {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;  
    }
}